html, body {
    height:100%;
} 

body {
   
    background-image: url("../images/bg.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
  
}

.login {
  position: absolute;
  top: 25%;
  left: 25%;
  background: #fff;
  padding: 30px;
  width: 50%;
  border-radius: 10px;
  
}